# Ignore cryptography files
service/certificates/*
!service/certificates/.gitkeep
!service/certificates/README.md

/host_certs/*
!host_certs/.gitkeep
!host_certs/README.md

# Ignore venv
/venv

# Ignore cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*pytest_cache

# Ignore critical XML files
*host_xml/*
!host_xml/.gitkeep
!host_xml/README.md

# Ignore cms files
*.cms