# Ignore cryptography files
service/certificates/*
!service/certificates/.gitkeep
!service/certificates/README.md

/host_certs/*
!host_certs/.gitkeep
!host_certs/README.md

# Ignore venv
/venv

# Ignore cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all XML files
*.xml

# Ignore cms files
*.cms